body
{
	/*background-color:black;*/
	font-family:"Open Sans";
	color:#00AAFF;
	background-image:url("bgs/bg-img-august2017.jpg");
	background-size: 100% 150%;
	background-repeat: no-repeat;
}

div
{
	background-color:#EEE;
	padding:10px;
}

div#credit
{
	position:fixed;
  bottom:0;
	right:0;
  width:100%;
	height:10%;
	background-color:black;
	color:white;
}

/*@media (max-width: 767px) 
{
	div
	{
		background-color:black;
	}
}
*/

div#scorebox
{
	float:right;
	margin-top:-75px; 
	width:25%; 
	height:75%; 
	overflow:scroll;
	color:#000;
}

h1
{
	text-shadow:2.5px 2.5px 2.5px black;
}

span#score
{
	color:#FF0055;
	text-align:right;
	display:block; 
	position:relative; 
	margin-bottom:-45px;
	margin-left:90%;
	text-align:center;
}