body
{
	/*background-color:black;*/
	color:#00AAFF;
	font-family:"Open Sans";
	background-image:url("bgs/bg-img-august2017.jpg");
	background-size: 100% 125%;
  `	background-repeat: no-repeat;
}

div
{
	background-color:#EEE;
	padding:10px;
}

div#scorebox
{
	float:right;
	margin:0 auto; 
	width:25%; 
	height:75%; 
	overflow:scroll;
	color:#5500FF;
}

h1
{
	text-shadow:5px 5px 5px black;
}

span#score
{
	color:#FF0055;
	text-align:right;
	display:block; 
	position:relative; 
	margin-bottom:-45px;
	margin-left:90%;
	text-align:center;
}
