body
{
	/*background-color:black;*/
	font-family:"Open Sans";
	color:#00AAFF;
	background-image:url("bgs/bg-img-august2017.jpg");
	background-size: 100% 125%;
	background-repeat: no-repeat;
}

div
{
	background-color:#EEE;
	padding:10px;
}

div#credit
{
	width:100%;
	background-color:black;
	color:white;
}

/*@media (max-width: 767px) 
{
	div
	{
		background-color:black;
	}
}
*/

div#scorebox
{
	float:right;
	margin:0 auto; 
	width:25%; 
	height:75%; 
	overflow:scroll;
	color:#5500FF;
}

h1
{
	text-shadow:2.5px 2.5px 2.5px black;
}

span#score
{
	color:#FF0055;
	text-align:right;
	display:block; 
	position:relative; 
	margin-bottom:-45px;
	margin-left:90%;
	text-align:center;
}
