body
{
	/*background-color:black;*/
	color:#00AAFF;
	text-shadow:5px 5px 5px black;
	font-family:"Open Sans";
	background-image:url("https://cdn.discordapp.com/attachments/342827351501045760/342839926846521345/Collie.jpg");
	background-size: 150% 150%;
    	background-repeat: no-repeat;
}

div
{
	background-color:#222;
	padding:10px;
}

span#score
{
	text-align:right;
	display:block; 
	position:relative; 
	margin-bottom:-45px;
	margin-left:90%;
	text-align:center;
}
